-full_1 = '9 990р.';
-full_2 = '18 990р.';
-full_3 = '23 990р.';

-sale_1 = '2 000р.';
-sale_2 = '4 000р.';
-sale_3 = '4 000р.';

-today_1 = '7 990р.';
-today_2 = '14 990р.';
-today_3 = '19 990р.';

-link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4322&clean=true&lg=ru';
-link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4323&clean=true&lg=ru';
-link_3 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4331&clean=true&lg=ru';

-prep_bonus = '500р.'
-prep_cred = '1 000р.'
-prep_link = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4345&clean=true&lg=ru'

section#prices
	+gt2('general-title-prices','Выберите свой пакет участия:')
	.container
		.packets
			.row
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title "НЛП"
						.packet-body
							ul.general-list-3.general-list-packet
								li 6 занятий
							p.more-button(data-toggle="modal" data-target="#modal-1") подробнее
							ul.general-list-3.general-list-packet
								li Закрытая учебная площадка
								li Проверка ДЗ в комментариях
								li Видео с ответами на вопросы
						.packet-footer
							p.cost.cost-full Стоимость:
								span=full_1
							p.cost.cost-sale Скидка:
								span#sale-1=sale_1
							p.cost.cost-today Стоимость сегодня:
								span#today-1=today_1
							+b('button-cost',link_1,'Выбрать','_blank','link-1')
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title "НЛП"+"Гипноз"
						.packet-body
							ul.general-list-3.general-list-packet
								li 12 занятий
							p.more-button(data-toggle="modal" data-target="#modal-2") подробнее
							ul.general-list-3.general-list-packet
								li Закрытая учебная площадка
								li Проверка ДЗ в комментариях
								li Видео с ответами на вопросы
						.packet-footer
							p.cost.cost-full Стоимость:
								span=full_2
							p.cost.cost-sale Скидка:
								span#sale-2=sale_2
							p.cost.cost-today Стоимость сегодня:
								span#today-2=today_2
							+b('button-cost',link_2,'Выбрать','_blank','link-2')
				.col-md-4.col-sm-4
					.packet
						.packet-head
							h4.packet-head-title "Матер-группа"
						.packet-body
							ul.general-list-3.general-list-packet
								li 12 занятий
							p.more-button(data-toggle="modal" data-target="#modal-2") подробнее
							ul.general-list-3.general-list-packet
								li Закрытая учебная площадка
								li Проверка ДЗ в комментариях
								li Видео с ответами на вопросы
								li Закрытый чат
								li Разбор ДЗ голосом
								li Вебинар с ответами на вопросы каждую неделю
						.packet-footer
							p.cost.cost-full Стоимость:
								span=full_3
							p.cost.cost-sale Скидка:
								span#sale-3=sale_3
							p.cost.cost-today Стоимость сегодня:
								span#today-3=today_3
							+b('button-cost',link_3,'Выбрать','_blank','link-3')
		.prepayment
			h4.prepayment-title Акция!!!
			p.prepayment-text Платите 1 000р., бонусом получаете 
				span#prepayment-bonus= prep_bonus 
				br
				| На счет зачисляется 
				span#prepayment-credited= prep_cred
			a.button.prepayment-button(href= prep_link target="-blank")#prepayment-link Оплатить 1 000р.
		.timer
			h4.timer-title Скидка уменьшится через:
			.clock
			.clock-stop